@charset "utf-8";
body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #c0c0c0;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}


/* Tips for Elastic layouts 
1. Since the elastic layouts overall sizing is based on the user's default fonts size, they are more unpredictable. Used correctly, they are also more accessible for those that need larger fonts size since the line length remains proportionate.
2. Sizing of divs in this layout are based on the 100% font size in the body element. If you decrease the text size overall by using a font-size: 80% on the body element or the #container, remember that the entire layout will downsize proportionately. You may want to increase the widths of the various divs to compensate for this.
3. If font sizing is changed in differing amounts on each div instead of on the overall design (ie: #sidebar1 is given a 70% font size and #mainContent is given an 85% font size), this will proportionately change each of the divs overall size. You may want to adjust based on your final font sizing.
*/
#container {
	width: 56em;  /* this width will create a container that will fit in an 800px browser window if text is left at browser default font sizes */
/*	background: #ede7cf; */
	background: #323232;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 1px solid #000000;
	text-align: left; /* this overrides the text-align: center on the body element. */
}
#container_admin {
	width: 72em;  /* this width will create a container that will fit in an 800px browser window if text is left at browser default font sizes */
/*	background: #ede7cf; */
	background: #323232;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 1px solid #000000;
	text-align: left; /* this overrides the text-align: center on the body element. */
}

#header { 
/*	background: #DDDDDD; */
	background: #ffffff; 
	text-align: left; /* this overrides the text-align: center on the body element. */
	height:69px;
} 
#acceso   {
	padding: 0 20px;
	background-color: #ffffff;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	text-align: right;
	font-size: small;
}
.separadorB {
	height: 0.05em;
	clear:both;
}

#menudiv {
	float: left;
	background-color: #ffffff;
	text-align:left;
	margin: 0;
}
#menudiv ul {
	padding: 3px;
	margin: 0;
}
#menudiv li {
	text-align: center;
	padding: 0px;
	margin: 0;
	display: inline;
}
#menudiv a {
	color: black;
	text-decoration: underline;
	font-weight: bold;
	font-size: x-small;
}

#mainContent {
	width:56em;
	float:left;
	color: white;
	background-color: #323232;
}
#mainContent a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: x-small;
}
#mainContent table {
	color: white;
	background-color: #323232;
	font-weight: bold;
	font-size: x-small;
}
#mainContent_admin {
	color: white;
	background-color: #323232;
	padding: 2em;
	font-size: x-small;
	text-decoration: none;
}
#mainContent_admin a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: x-small;
}
#mainContent_admin table {
	color: white;
	background-color: #323232;
	font-weight: bold;
	font-size: x-small;
}
#mainContent .datoprivado, .datoprivado  {
	color:#FF0000;
}

#tabla_clubes {
	width:100%;
	border-width:0;
	text-align:left;
}


.tacceso {
	width: 100%;
	border: 0;
	text-align: right;
}

.tacceso #extrasacceso {
	text-align: left;
}

#footer {
	padding: 0 10px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background:#323232;
} 

#detalleclubes {
	width:56em;
	background:#323232;
} 

table.tabla_clubes_detalles {
	width:100%;
	border-width:0;
	text-align:left;
}
table.tabla_clubes_detalles_socios {
	width:100%;
	text-align:left;
	vertical-align:text-top;
}
table.tabla_clubes_detalles_socios th {
	text-align:center;
}
table.tabla_clubes_detalles_socios td {
	border-width:1px;
	vertical-align:text-top;
}

#footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
	color: #FFFFFF;
	font-weight: bold;
	font-size: x-small;
	text-align: center;
}
#footer a {
	color: #CC9900;
	text-decoration: none;
}

[required] {
	border: 1px solid #ff0000;
}

input:invalid {
	background: -webkit-gradient(linear, left top, left bottom, from(#ffbfbf), to(#ffffff));
	background: -moz-linear-gradient(top,  #ffbfbf,  #ffffff);
}

input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #717171;
}

#foto_socio {
	float:right;
	border: 1px solid #999999;
	width:96px;
	height:96px;
	text-align:center;
	background-image:url(/images/sinfoto.jpg);
}

.tabla_ppl {
	
	float:left;
	color: white;
	background-color: #323232;
	font-weight: bold;
	font-size: x-small;
	width: 64em;
}

.tabla_izquierda {
	float:left;
	display:block;
}

.tabla_derecha {
	display:block;
	float:right;
	clear:right;
}

.tabla_ppl input.texto {
	width: 15em;
}


.muestra_alarma {
	color:#FF0000 !important;
	font-weight: bold;
	font-size: x-small;
}

.muestra_verde {
	color:#00FF00 !important;
	font-weight: bold;
	font-size: x-small;
}


/*
ESTILO PARA EL MENU DE ADMINISTRACION
*/
#menudivadmin {
	position:relative;
	background-color: #323232;
	text-align:center;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
#menudivadmin ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	display:inline;
}
#menudivadmin li {
	float:left;
	text-align: center;
	padding: 0px;
	margin: 0 0.15em;
	display: block:
}
#menudivadmin li a {
	height: 2em;
	line-height: 2em;
	float: left;
	width: 9em;
	display: block;
	border: 0.1em solid #EEEEEE;
	text-align: center;

	background-color:#EEEEEE;
	color: black;
	text-decoration: none;
	font-weight: normal;
	font-size: x-small;
}

#recupera a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: x-small;
}

